<%- include('../partials/head') %>

    <div class="container mt-5 mb-5">
        <h1>Product Care</h1>

        <div class="w-50">
            
            <p class="mt-5"><b>Jewellery preservation</b></p>
            <ul>
                <li>Please avoid contact with moisture for all jewellery, unless otherwise stated.</li>
                <li>Be sure to spray perfumes or apply lotions before putting on jewellery.</li>
                <li>Remove jewellery before exercise and going to bed.</li>
                <li>We recommend keeping your jewellery (including gold-plated and gold-filled pieces) as dry as possible as this will help prolong the longevity of your pieces, and retain their colour and shine.</li>
            </ul>
             
            <p class="mt-5"><b>How to clean your Gabi jewellery</b></p>
            <ul>
                <li>Gently use a clean cloth to wipe off any residue. The use of a dry toothbrush is also useful in removing dirt off jewellery with intricate details.</li>
                <li>If your sterling silver jewellery or earposts has become dull, a silver-polishing cloth can be used to recover its shine again. Contact us at hello@gabi-label.com if you would like to purchase one from us.</li>
            </ul>

            <p class="mt-5"><b>How to store your Gabi jewellery</b></p>
            <ul>
                <li>Jewellery should be stored away from direct sunlight, heat and humidity. It can also be stored in a plastic zip lock bag made of polyethylene.</li>
                <li>Please note that this can prolong the shine and condition of most jewellery, but tarnishing will still occur over time, especially on alloy-based jewellery with no gold-plating.</li>
            </ul>

            <p class="mt-5"><b>Important note</b></p>
            <ul>
                <li>Gold-plated jewellery will eventually tarnish over time. The speed at which the gold plating fades will depend on multiple factors, including (and not limited to) the chemical level of your skincare products, level of perspiration, and even your natural skin PH. For this reason, it is highly recommended that you pay special attention to the care of your gold-plated jewelry.</li>
            </ul>

        </div>

    </div>

    <%- include('../partials/foot') %>