<%- include('../partials/head') %>

    <div class="container mt-5 mb-5">
        <h1>Search</h1>
        
        <nav class="navbar navbar-light bg-light w-100">
            <form class="form-inline d-flex w-100">
                <input class="form-control w-50 ms-2 me-2" type="search" placeholder="Where would you like to wander today?">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </nav>
    </div>

<%- include('../partials/foot') %>