<%- include('../partials/head') %>

    <div class="container mt-5 mb-5">

        <h1>Shipping</h1>

        <div class="w-75">
        <ul>
            <li>We highly recommend DHL/FedEx (2-4 working days) if you require Fast Shipping worldwide.</li>
            <li>International orders: If you select Singapore Post (SingPost) as your delivery option at checkout, your package may face an additional 1-6 weeks in transit time due to delays caused by the COVID pandemic.</li>
        </ul>
        
        <p class="mt-5">
            <h2>Shipping Information</h2>
        </p>

        <b>INTERNATIONAL ORDERS</b>
        <ul>
            <li><b>International shipping starts from USD$9</b></li>
            Final Shipping Costs are calculated at checkout.
            <br>Discounted shipping rates applies to orders above USD$85.
            <li><b>United States, Australia, Japan, S. Korea</b></li>
            FREE Regular shipping on orders above <b>USD$85</b>
            <br>FREE Fast Shipping (FedEx/DHL) on orders above <b>USD$150</b>
            <li>Canada &amp; the UK</b></li>
            FREE Fast Shipping (FedEx/DHL) on orders above <b>USD$150</b>
        </ul>
            
        <b>LOCAL ORDERS</b>
        <br><img src="https://cdn.shopify.com/s/files/1/0009/8746/3737/files/1_b20735b2-934c-41d9-ab3f-44f0181736fd_480x480.jpg?v=1590340901" width="350" height="190" style="float: none;">

        <p class="mt-5"><b>All orders are processed within 1-3 working days.</b></p>
        <p>Delays of up to 5 working days can be expected during sales/holidays. In the event that taxes and/or duties are incurred for your parcel, you will be held responsible to cover such fees before delivery can proceed.
        
        <p class="mt-5"><b>Note on International orders (WE SHIP WORLDWIDE)</b></p>
        <p>We now offer expedited shipping with premium services such as <b>FedEx</b> (International Priority) and <b>DHL</b> (Express) that deliver worldwide within 2-5 working days. You will be able to see if these options are available to you during checkout.</p>
        <p>If you select the SingPost ePac option, please note that final mile delivery will be fulfilled by the local postal service in your destination country.</p>
        
        <p class="mt-5"><b>[SingPost ePac] How to Track Your International Order</b></p>
        <ol>
            <li>Simply use the <b>Tracking Number</b> acquired from your order's shipping confirmation email, and input it on <b><a href="https://www.singpost.com/track-items" target="_blank" title="Track your items via SINGPOST">SingPost Tracking Page</a>.</li>
            <li>As your order approaches its final destination (your country), <b>you will need to continue tracking its progress through your local postal service's website using the same Tracking Number.</b></li>
            <p>** Please note that you are fully responsible for retrieving your package, and we highly recommend that you continue to track its progress via your local postal service after placing your order. In the event your package is unclaimed and eventually returned to us - any re-delivery requests will incur extra shipping charges that will be borne by you.</p>
        </ol>
        
        <p class="mt-5">Exchange & Return Policies</p>
        <ul>
            <li>All Sales Are Final. There will be no returns, exchanges or refunds.</li>
            <li>** Due to hygiene reasons, there will strictly be no returns, exchanges or refunds on all accessories.</li>
            <li>All goods will undergo additional steps of quality control before being shipped to you. In the unlikely event that you receive a wrong or defective product, please contact us at hello@gabi-label.com and we will be happy to replace it for you at no extra cost.</li>
            <li>We highly recommend contacting us prior to placing an order if you have any questions or doubts. We'd be happy to clarify any queries you may have.</li>
        </ul>
                
        <p class="mt-5"><b>Terms & Conditions</b>
        <p>By shopping with Gabi The Label you are agreeing to the following terms and conditions.
            
        <p><u>Custom Fees</u></p>
        <p>In the event that taxes and/or duties are incurred for your parcel, you will be held responsible to cover such fees before delivery can proceed. It is recommended that the customer check with the local post office for such fees prior to placing an order to avoid any confusion.
            
        <p><u>Stolen or Lost Mail</u></p>
        <p>Gabi The Label will not be held responsible for any lost or stolen packages in transit. However - on a case by case basis, replacements may be provided. Rest assured that if there is reason to believe your order was lost in transit - we will be sure to offer you a suitable resolution. Therefore - do not hesitate to place your orders with us. We make sure to take care of you from start to end :)
                
        <p>During the ordering process, please ensure that your mailing address provided is wholly accurate. Gabi The Label will not be held responsible for any packages being sent back due to inaccurate or incomplete addresses provided by the customer. Re-shipment costs will be borne by the customer.</p>
        
        <p><u>Shipping Delays</u></p>
        <p>All deliveries are carried out by courier companies that operate separately from us. We cannot be held responsible for any shipping delays due to customs or other reasons that may occur during the transit period. Once packages are shipped out, the shipping process will be out of our control, although we always do our very best to help you through the process of tracking.</p>

        </div>

    </div>

<%- include('../partials/foot') %>